In [18]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [19]:
dat = pd.read_csv('https://raw.githubusercontent.com/Abhishek-st/deep-transfer-learning-crop-prediction/master/code/static_data_files/india_yields_raw.csv')

In [20]:
dat.head()

,Unnamed: 0,STATE,DISTRICT,YEAR,CROP,AREA,PRODUCTION,YIELD,SEASON,YIELD.RM.OUT
0,1,ANDAMAN & NICOBAR ISLANDS,Andaman,2001,RICE,NaN,27033.0,NaN,KHARIF,NaN
1,2,ANDAMAN & NICOBAR ISLANDS,Andaman,2001,ARECANUT,NaN,5239.0,NaN,KHARIF,NaN
2,3,ANDAMAN & NICOBAR ISLANDS,Andaman,2001,OTHER KHARIF PULSES,NaN,199.0,NaN,KHARIF,NaN
3,4,ANDAMAN & NICOBAR ISLANDS,Andaman,2001,SWEET POTATO,NaN,5.0,NaN,WHOLE YEAR,NaN
4,5,ANDAMAN & NICOBAR ISLANDS,Andaman,2000,COCONUT,NaN,23900.0,NaN,WHOLE YEAR,NaN

In [21]:
dat.dropna(inplace=True)
dat.drop_duplicates(inplace=True)
dat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 191270 entries, 21 to 229666
Data columns (total 10 columns):
Unnamed: 0      191270 non-null int64
STATE           191270 non-null object
DISTRICT        191270 non-null object
YEAR            191270 non-null int64
CROP            191270 non-null object
AREA            191270 non-null float64
PRODUCTION      191270 non-null float64
YIELD           191270 non-null float64
SEASON          191270 non-null object
YIELD.RM.OUT    191270 non-null float64
dtypes: float64(4), int64(2), object(4)
memory usage: 16.1+ MB

In [22]:
dat=dat[dat['STATE']=='WEST BENGAL']
dat.describe()

,Unnamed: 0,YEAR,AREA,PRODUCTION,YIELD,YIELD.RM.OUT
count,6561.000000,6561.000000,6561.000000,6.561000e+03,6561.000000,6561.000000
mean,307344.987654,2003.584819,21644.659351,7.721957e+04,4.726325,4.726325
std,5203.849415,3.435802,71366.431986,2.545738e+05,13.153885,13.153885
min,300155.000000,1998.000000,1.000000,1.000000e+00,0.030000,0.030000
25%,302240.000000,2001.000000,135.000000,1.050000e+02,0.630000,0.630000
50%,307802.000000,2004.000000,768.000000,9.410000e+02,1.070000,1.070000
75%,312640.000000,2007.000000,5369.000000,1.292400e+04,2.310000,2.310000
max,315081.000000,2009.000000,718927.000000,3.434459e+06,121.880000,121.880000

In [23]:
dat.drop(['Unnamed: 0','YIELD.RM.OUT','PRODUCTION','STATE'],inplace=True, axis=1)
dat.describe()

              YEAR           AREA        YIELD
count  6561.000000    6561.000000  6561.000000
mean   2003.584819   21644.659351     4.726325
std       3.435802   71366.431986    13.153885
min    1998.000000       1.000000     0.030000
25%    2001.000000     135.000000     0.630000
50%    2004.000000     768.000000     1.070000
75%    2007.000000    5369.000000     2.310000
max    2009.000000  718927.000000   121.880000

In [24]:
dat=dat[dat['YIELD']<=10]
dat=dat[dat['YIELD']>=0.5]

In [25]:
dat.drop_duplicates(inplace=True)

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
encoder = LabelEncoder()
dat['CROP'] = encoder.fit_transform(dat['CROP'])

enc2 = LabelEncoder()
dat['SEASON'] = enc2.fit_transform(dat['SEASON'])

enc3 = LabelEncoder()
dat['DISTRICT'] = enc3.fit_transform(dat['DISTRICT'])

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [12]:
X = dat.drop(['YIELD'], axis=1)
Y = dat['YIELD']

In [13]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.2,random_state=0)
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [14]:
from sklearn.linear_model import LinearRegression

In [15]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [16]:
y_pred = model.predict(x_test)

In [17]:
model.score(x_test,y_test)

0.022381510369351543